body {
  background: #f9f7fe;
  font-family: "Cerebi Sans", Helvetica, Arial, sans-serif;
  color: #272044;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}

h1 a {
  text-decoration: none;
  color: #272044;
}

h2 {
  margin: 0 0 10px;
  font-size: 28px;
}

.container {
  max-width: 600px;
  background-color: #fff;
  display: block;
  margin: 60px auto 20px;
  padding: 20px 40px 40px 40px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 18px;
}

.city-select {
  width: 100%;
  font-size: 16px;
  padding: 15px;
  border-radius: 6px;
  color: #342e50;
  opacity: 0.9;
  border-color: #d4d2da;
  margin-bottom: 20px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0 35px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
  padding-bottom: 0px;
}

.date {
  color: #aeaab9;
  font-weight: 100;
  font-size: 16px;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time-unit {
  font-size: 24px;
  font-weight: 500;
  vertical-align: middle;
}

.back {
  text-decoration: none;
  color: #272044;
  font-size: 14px;
}

.credits {
  text-align: center;
  color: #6b7088;
}

.credit-link {
  color: #aeaab9;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

.credit-link:hover {
  color: #6b7088;
}
